---

---

<footer class="footer">
  <p class="footer-text">
    Developed by <a
      class="link"
      aria-label="Link to my profile"
      title="View my profile"
      href="/">GDW.</a>
  </p>
</footer>

<style>
  .footer {
    margin: 1rem 0;
  }

  .footer-text {
    text-align: center;
    color: var(--color-text-secondary);
  }
</style>
